name: Testing CI

on:
  - pull_request
  - push # not for landing

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node:
          - 16
          - 18
          - 19
          - 20
        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Start db docker containers
        run: |
          docker-compose -f test-db-docker-compose.yml up  -d
          sleep 10  # wait for database to be ready

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci

      - run: npm test

      # - name: Prepearing api docker container for integration tests
      #   run: |
      #     docker-compose -f test-api-docker-compose.yml up  -d
      #     sleep 2  # wait for api to be ready

      - name: Client test
        run: |
          node server.js > /dev/null&
          sleep 4  # wait for api to be ready
          node test/system.js
          node --test test/client.js
